@media screen and (max-width: 380px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100% 100%;
        grid-template-rows: 100% 100%;
        background: floralwhite;
    }

    .wrapper {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }

    .wrapper > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        color: white;
        font-size: 24px;
        text-align: center;
    }
}

/***************************************************************************************/

@media screen and (max-width: 2748px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        /*max-width: 1024px;*/
        background: floralwhite;
    }

    body {
        width: 36%;
        margin: auto;
    }

    .wrapper {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }

    .wrapper > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        color: white;
        font-size: 24px;
        text-align: center;
    }
}
